* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
}

button, input[type='button'] {
    cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

input, textarea {
    border: none;
}

button {
    border: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.table-responsive {
    padding-right: 1px;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.X1SONv {
    flex-direction: column;
    padding-top: 16%;
}

._1FzaUZ, .X1SONv {
    align-items: center;
    display: flex;
}

.TgSfgo {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

._1FzaUZ {
    height: 6.5rem;
    width: 6.5rem;
    margin: 1.25rem 0;
    position: relative;
}

._2xS5eV {
    display: none;
}

._3Jd4Zu {
    margin-left: 10px;
}

.py-5 {
    margin-top: -45px;
}

form {
    width: 100%;
}

.img-placeholder {
    width: 60%;
    color: white;
    height: 100%;
    background: black;
    opacity: .7;
    height: 210px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.img-placeholder h4 {
    margin-top: 40%;
    color: white;
}
.img-div:hover .img-placeholder {
    display: block;
    cursor: pointer;
}

.mt-5 {
    margin-left: 33%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

strong {
    font-weight: 700;
}

/*-----------------------------------------------------*/
/*                   ELEMENTS                          */
/*-----------------------------------------------------*/
/* ----- Title ----- */
.title--sbold {
    font-weight: 600;
}

.title-1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
}

.title-2 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
}

.title-3 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
    color: #333;
}

.title-3 i {
    margin-right: 13px;
    vertical-align: baseline;
}

.title-4 {
    font-weight: 500;
    font-size: 30px;
    color: #393939;
}

.title-5 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    color: #393939;
}

.title-6 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.heading-title {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
}

/* ----- Links ----- */
a {
    display: inline-block;
    margin-left: -5px;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a:hover,
a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*-----------------------------------------------------*/
/*                   OBJECTS                           */
/*-----------------------------------------------------*/
/* ----- Section----- */
section {
    position: relative;
}

.section__content {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.section__content--w1830 {
    max-width: 1830px;
}

.section__content--p30 {
    padding: 0 30px;
}

@media (max-width: 991px) {
    .section__content--p30 {
        padding: 0;
    }
}

.section__content--p35 {
    padding: 0 35px;
}

/* ----- Page Wrapper----- */
/*Override Grid Bootstrap*/
@media (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
}

/*Page Objects*/
.page-wrapper {
    overflow: hidden;
    background: #e5e5e5;
    padding-bottom: 8vh;
}

@media (max-width: 991px) {
    .page-wrapper {
    overflow: auto;
    background: #e5e5e5;
    padding-bottom: 12vh;
}
}
.page-container {
    background: #e5e5e5;
    padding-left: 300px;
}

@media (max-width: 991px) {
    .page-container {
        position: relative;
        top: 88px;
        padding-left: 0;
    }
}

.page-container2 {
    background: #f2f2f2;
    padding-left: 300px;
}

@media (max-width: 991px) {
    .page-container2 {
        position: relative;
        padding-left: 0;
    }
}

.page-container3 {
    background: #f7f7f7;
}

.main-content {
    padding-top: 116px;
    min-height: 100vh;
}

@media (max-width: 991px) {
    .main-content {
        padding-top: 50px;
	padding-bottom: 100px;
    }
}

.page-content--bgf7 {
    background: #f7f7f7;
}

.page-content--bge5 {
    background: #e5e5e5;
    height: 100vh;
}

.fontawesome-list-wrap {
    background: #fff;
    border: 1px solid #C9CDD7;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fontawesome-list__title {
    padding-bottom: 20px;
    border-bottom: 1px solid #C9CDD7;
    margin-bottom: 20px;
    margin-top: 30px;
}

.fa-hover a {
    color: #666;
    font-size: 15px;
}

.fa-hover a i {
    margin-right: 10px;
}

.fa-hover a:hover {
    color: #333;
}

.main-content--pb30 {
    padding-bottom: 30px;
}

/*-----------------------------------------------------*/
/*                   COMPONENTS                        */
/*-----------------------------------------------------*/
/* ----- Buttons----- */
/*Page Loader*/
.page-loader {
    background: #f8f8f8;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.page-loader__spin {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 6px solid #f6f6f6;
    border-right: 6px solid #f6f6f6;
    border-bottom: 6px solid #f6f6f6;
    border-left: 6px solid #1b1b1b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 1000ms infinite linear;
    -moz-animation: spinner 1000ms infinite linear;
    -o-animation: spinner 1000ms infinite linear;
    animation: spinner 1000ms infinite linear;
    z-index: 100000;
}

/* ----- Header ----- */
.account-wrap {
    position: relative;
}

.account-item {
    cursor: pointer;
}

.account-item .image {
    width: 45px;
    height: 45px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.account-item .image > img {
    width: 100%;
}

.account-item > .content {
    margin-left: 45px;
    padding: 9px 0;
    padding-left: 12px;
}

.account-item > .content > a {
    color: wheat;
    text-transform: capitalize;
    font-weight: 500;
}

.account-item > .content > a:after {
    font-family: "Material-Design-Iconic-Font";
    font-weight: 500;
    content: '\f2f9';
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
}

.account-item > .content > a:hover {
    color: #666;
}

.account-dropdown {
    min-width: 305px;
    position: absolute;
    top: 58px;
    right: 0;
    background: #fff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    z-index: 3;
}

.account-dropdown .info {
    padding: 25px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f2f2f2;
}

.account-dropdown .info .image {
    float: left;
    height: 65px;
    width: 65px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.account-dropdown .info .content {
    margin-left: 65px;
    padding: 11px 0;
    padding-left: 12px;
}

.account-dropdown .info .content .name {
    line-height: -webkit-calc(20/16);
    line-height: -moz-calc(20/16);
    line-height: calc(20/16);
}

.account-dropdown .info .content .name a {
    color: #333;
    font-weight: 500;
    text-transform: capitalize;
}

.account-dropdown .info .content .name a:hover {
    color: #666;
}

.account-dropdown .info .content .email {
    font-size: 13px;
    color: #999;
    line-height: -webkit-calc(20/13);
    line-height: -moz-calc(20/13);
    line-height: calc(20/13);
}

.account-dropdown:after {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 9px solid #fff;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: -18px;
    right: 33px;
}

.account-dropdown__item a {
    display: block;
    color: #333;
    padding: 15px 25px;
    font-size: 14px;
}

.account-dropdown__item a:hover {
    background: #4272d7;
    color: #fff;
}

.account-dropdown__item a i {
    line-height: 1;
    margin-right: 20px;
    font-size: 18px;
    vertical-align: middle;
}

.account-dropdown__body {
    padding: 12px 0;
}

.account-dropdown__footer {
    border-top: 1px solid #f2f2f2;
}

.account-dropdown__footer a {
    display: block;
    color: #333;
    padding: 15px 25px;
    font-size: 14px;
}

.account-dropdown__footer a:hover {
    background: #4272d7;
    color: #fff;
}

.account-dropdown__footer a i {
    line-height: 1;
    margin-right: 20px;
    font-size: 18px;
    vertical-align: middle;
}

.menu-sidebar {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: black;
    /* overflow-y: auto; */
}

.menu-sidebar .logo {
    background: #f5f5f5;
    height: 75px;
    padding: 0 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e5e5;
    position: relative;
    z-index: 3;
}

.menu-sidebar .navbar__list .navbar__sub-list {
    display: none;
    padding-left: 34px;
}

.menu-sidebar .navbar__list .navbar__sub-list li a {
    padding: 11.5px 0;
}

.menu-sidebar__content {
    position: relative;
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);
}

.navbar-sidebar {
    padding: 35px;
    padding-bottom: 0;
    margin-top: 50px;
}

.navbar-sidebar .navbar__list li a {
    display: block;
    color: #555;
    font-size: 16px;
    padding: 15px 0;
}

.navbar-sidebar .navbar__list li a i {
    margin-right: 19px;
}

.navbar-sidebar .navbar__list li a:hover {
    color: #4272d7;
}

.navbar-sidebar .navbar__list li.active > a {
    color: #4272d7;
}

.show-dropdown .js-dropdown {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.menu-sidebar-min {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.menu-sidebar2 {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow-y: auto;
    height: 100vh;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1000;
}

.menu-sidebar2 .logo {
    height: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #365cad;
    padding: 0 35px;
}

@media (max-width: 991px) {
    .menu-sidebar2 {
        top: 0;
        right: -300px;
        left: auto;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .menu-sidebar2.show-sidebar {
        right: 0;
    }
}

.account2 {
    padding: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px  solid #f2f2f2;
}

.account2 .name {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.account2 > a {
    font-size: 14px;
    color: #999;
}

.account2 > a:hover {
    color: #666;
}

.menu-sidebar2__content {
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);
    border-right: 1px solid #e5e5e5;
    position: relative;
}

.navbar-sidebar2 .navbar__list li {
    position: relative;
    cursor: pointer;
}

.navbar-sidebar2 .navbar__list li .arrow {
    position: absolute;
    right: 15px;
    top: 0;
    text-align: center;
    vertical-align: middle;
    height: 63px;
    width: 63px;
    line-height: 63px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-sidebar2 .navbar__list li .arrow.up {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.navbar-sidebar2 .navbar__list li .arrow i {
    font-size: 16px;
    color: #999;
}

.navbar-sidebar2 .navbar__list li:hover > a {
    color: #4272d7;
}

.navbar-sidebar2 .navbar__list li a {
    font-size: 16px;
    color: #555;
    display: block;
    padding: 18px 35px;
    border-bottom: 1px solid #f2f2f2;
}

.navbar-sidebar2 .navbar__list li a > i {
    margin-right: 20px;
}

.navbar-sidebar2 .navbar__list li.active > a {
    color: #4272d7;
}

.navbar-sidebar2 .navbar__sub-list {
    display: none;
}

.navbar-sidebar2 .navbar__sub-list li {
    background: #f5f5f5;
}

.navbar-sidebar2 .navbar__sub-list li a {
    border-color: #ebebeb;
}

.header-desktop2 {
    height: 75px;
    background: #4272d7;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    left: 300px;
}

@media (max-width: 991px) {
    .header-desktop2 {
        left: 0;
        position: relative;
    }
}

.search-dropdown {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    min-width: 340px;
    position: absolute;
    top: 61px;
    right: -125px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
}

.search-dropdown::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 9px solid #fff;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: -18px;
    right: 125px;
}

.search-dropdown form {
    height: 63px;
}

.search-dropdown form .au-input {
    padding-left: 53px;
    font-size: 14px;
    border: none;
    color: #666;
}

.search-dropdown .search-dropdown__icon {
    position: absolute;
    top: 0;
    left: 26px;
    font-size: 24px;
    color: #c9c9c9;
    height: 63px;
    line-height: 63px;
}

.setting-menu {
    position: fixed;
    min-width: 300px;
    right: -300px;
    top: 54px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.setting-menu:before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 9px solid #fff;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: -18px;
    right: 47px;
}

.setting-menu .account-dropdown__body {
    border-bottom: 1px solid #f2f2f2;
}

.setting-menu .account-dropdown__item a {
    color: #555;
}

.setting-menu .account-dropdown__item a:hover {
    color: #fff;
}

.show-sidebar {
    right: 0;
}

.setting-dropdown {
    top: 54px;
    left: -97px;
    border: none;
    min-width: 305px;
}

.setting-dropdown::before {
    left: 99px;
}

.setting-dropdown .account-dropdown__body {
    border-bottom: 1px solid #f2f2f2;
}

.setting-dropdown .account-dropdown__body:last-child {
    border-bottom: none;
}

.setting-dropdown .account-dropdown__item a {
    color: #555;
}

.setting-dropdown .account-dropdown__item a:hover {
    color: #fff;
}

.header-button-item {
    cursor: pointer;
}

.account-item--style2 .image {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.account-item--style2 .content a {
    font-size: 16px;
    color: #ccc;
    font-weight: 500;
}

.account-item--style2 .content a:hover {
    color: #fff;
}

.account-item--style2 .account-dropdown {
    top: 61px;
}

.account-item--style2 .account-dropdown .info .image {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.navbar-sidebar3 {
    padding-right: 20px;
}

.navbar-sidebar3 .navbar__list li.active > a {
    background: #4272d7;
    color: #fff;
}

.navbar-sidebar3 .navbar__list li.active > a > .arrow > i {
    color: #fff;
}

.navbar-sidebar3 .navbar__list li a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 18px 27px;
    border-bottom: none;
}

.navbar-sidebar3 .navbar__sub-list {
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-sidebar3 .navbar__sub-list li {
    background: transparent;
}

.navbar-sidebar3 .navbar__sub-list li a {
    padding: 11.5px 27px;
}

.navbar-sidebar3 .has-sub.open > a {
    background: #fff;
    border: 1px solid #e5e5e5;
}

@media (max-width: 1199px) {
    .navbar-sidebar3 {
        padding-right: 0;
        margin-bottom: 30px;
    }
}

.avatar-wrap {
    position: relative;
    float: left;
}

@media (max-width: 767px) {
    .avatar-wrap {
        float: none;
        display: inline-block;
        margin-bottom: 20px;
    }
}

.online .avatar::after {
    background: #63c76a;
}

.avatar {
    height: 60px;
    width: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.avatar::after {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    background: #ccc;
    border: 2px solid #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.avatar--small {
    height: 50px;
    width: 50px;
}

.avatar--tiny {
    height: 32px;
    width: 32px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #202027;
}

.brand-logo-name {
    margin-left: 1rem;
}

hr {
    border: 1px solid #000000;
}

body {
    background: #e5e5e5;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}